/* ==========================
   노인용 키오스크 홈 화면
========================== */

body {
    margin: 0;
    background: #ffffff;
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 제목 */
h1 {
    font-size: 72px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 60px;
    text-align: center;
}

/* 이미지 */
img {
    width: 500px;
    margin-bottom: 80px;
}

/* 시작 버튼 */
#back {
    width: 500px;
    height: 120px;
    font-size: 40px;
    font-weight: 900;
    background: #0052cc;
    color: white;
    text-align: center;
    line-height: 120px;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.1s;
}

#back:active {
    background: #003d99;
}